# Libs utilisées dans le notebook
pandas
numpy
matplotlib
seaborn
scikit-learn
xgboost
lightgbm

# Pour exécuter le notebook et extraire le modèle
nbformat
nbconvert
jupyter

# Pour l'API Flask
flask
